.Header{
    background-color: gray;
    border-radius: 10px 10px 0px 0px;
    margin: 0;
    
}
.Header h1 {
    margin: 0;
    text-align: center;
}

.stampContainer {
    width: 99%;
    background-color: rgb(67, 196, 174);
    border: 2px solid black;
    margin: 1px;
    border-radius: 10px;
}

.stampContainerHeader {
    cursor: pointer;
    text-align: left;
    padding-left: 10px;
}
