.stampTable{
    background-color: lightgray;
    width: 600px;
    height: 350px;
    border-radius: 10px;
} 


.tableHeader{
    text-align: center;
    padding-left: 5px;
    padding-right: 4px;
    border: 1px solid rgb(83, 83, 83);
    border-radius: 10px;
}

.tableData{
    text-align: center;
    border: 1px solid rgb(83, 83, 83);
    background-color: lightpink;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}